@import './mixins/misc';
@import './mixins/list';
@import './animations';
@import './colors';

.add-bookmarks-layer {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-bookmarks-modal {
    @include list;
    @include rect-box-shadow;
    background-color: white;

    width: 500px;
    max-height: calc(100% - 100px);

    .add-bookmarks-title-container {
      @include list-title-container;

      .add-bookmarks-title {
        @include list-title;
      }
    }

    .add-bookmarks-modal-scrollable-area {
      @include list-scrollable-area;

      .open-tab-container {
        @include list-item-container;

        &.last {
          margin-bottom: 0;
        }

        .open-tab {
          @include list-item;

          &:hover {
            cursor: pointer;
            background-color: rgb(222, 222, 222);
          }

          &:active {
            background-color: rgb(200, 200, 200);
          }

          &.selected {
            background-color: rgb(200, 200, 200);
          }

          .open-tab-favicon {
            @include list-item-image;
          }

          .open-tab-name {
            @include list-item-text;
          }
        }
      }
    }

    .add-bookmarks-buttons {
      width: 100%;

      margin-top: 16px;

      padding-left: 16px;
      padding-right: 16px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .add-bookmarks-cancel-button {
        @include list-button;
        width: 224px;
      }

      .add-bookmarks-save-button {
        @include list-button;
        width: 224px;
      }
    }
  }
}
