@-webkit-keyframes spinner {
  to { transform: rotate(360deg); }
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}

@-webkit-keyframes fade-in-out {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade-in-out {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes delayed-fade-in {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes delayed-fade-in {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes darken-backdrop {
  0% { background-color: rgba(0, 0, 0, 0); }
  100% { background-color: rgba(0, 0, 0, 0.3); }
}
@keyframes darken-backdrop {
  0% { background-color: rgba(0, 0, 0, 0); }
  100% { background-color: rgba(0, 0, 0, 0.3); }
}
