@import './globals';

.app {
  position: absolute;
  width: 100%;
  height: 100%;

  .utilities-pane-container {
    display: flex;
    justify-content: center;

    padding-left: $app-margin;
    padding-top: $app-margin;
    padding-bottom: $app-margin;
  }

  .note-editor-container {
    padding-top: $app-margin;
    padding-left: 12px;
    padding-right: $app-margin;
  }

  .app-greeting-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: calc(440px + #{$app-margin}) 1fr;
  grid-template-areas: "left right";

  .utilities-pane-container {
    grid-area: left;
  }

  .note-editor-container {
    display: none;
  }

  .app-greeting-container {
    grid-area: right;
  }

  &.with-note {
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "left upper"
      "left lower";

    .utilities-pane-container {
      grid-area: left;
    }

    .note-editor-container {
      display: initial;
      grid-area: upper;
    }

    .app-greeting-container {
      grid-area: lower;
    }
  }
}

$greeting-height: 80px;

@media (max-width: $small-screen-max-width) {
  .app {
    grid-template-rows: $greeting-height 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "upper"
      "lower";

    justify-items: center;

    padding-bottom: $app-margin;

    .utilities-pane-container {
      grid-area: lower;

      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 0;
    }

    .note-editor-container {
      display: none;

      padding-top: 10px;
      padding-left: 0;
      padding-right: 0;

      width: 440px;
    }

    .app-greeting-container {
      grid-area: upper;

      padding-top: 10px;
      padding-bottom: 0;
    }

    &.with-note {
      $remaining-height: calc(100% - #{$greeting-height});
      $height2: calc(5 / 7 * #{$remaining-height});
      $height3: calc(2 / 7 * #{$remaining-height});
      grid-template-rows: $greeting-height $height2 $height3;
      grid-template-areas:
        "upper"
        "middle"
        "lower";

      .utilities-pane-container {
        grid-area: middle;
      }

      .note-editor-container {
        grid-area: lower;

        display: flex;
        align-items: center;
      }

      .app-greeting-container {
        grid-area: upper;
      }
    }
  }
}
