@import './mixins/list';

.bookmark-list {
  @include list;

  width: 440px;

  .bookmark-list-title-outer-container {
    @include list-title-container;
    padding-left: 16px;
    padding-right: 16px;

    .bookmark-list-title-inner-container {
      flex: 1;
      width: 100%;

      display: flex;
      flex-direction: row;

      .hover-container {
        display: flex;
        flex-direction: row;
        max-width: 100%;

        &:hover {
          cursor: pointer;
        }

        .back-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          min-width: 24px;
          font-size: 20px; // Controls size of the icon.

          &.hovering {
            padding-top: 1px;
          }
        }

        .bookmark-list-title {
          @include list-title;
          padding-top: 1px;

          &.hovering {
            padding-top: 2px;
          }
        }
      }
    }
  }

  .bookmark-list-scrollable-area {
    @include list-scrollable-area;

    .list-item-container {
      @include list-item-container;
    }

    .add-bookmarks-button {
      @include list-button;
    }
  }
}
