.bookmark {
  @include list-item;

  .bookmark-favicon {
    @include list-item-image;
  }

  .bookmark-name {
    @include list-item-text;
  }

  .edit-bookmark {
    @include list-item-text-edit;
  }

  .bookmark-buttons {
    display: flex;
    align-items: center;

    -webkit-animation: fade-in 0.3s;
            animation: fade-in 0.3s;

    .bookmark-button {
      width: 14px;
      margin-right: 10px;
      // the size is hard-coded inside the component
    }
  }
}
