.close-button {
  @include rect-box-shadow;

  $radius: 20px;
  $background-color: white;
  $hover-background-color: rgb(200, 200, 200);
  $stroke-color: rgba(0, 0, 0, 0.6);

  border-style: solid;
  border-width: 2px;
  border-color: $stroke-color;
  border-radius: calc(#{$radius} / 2);

  width: $radius;
  height: $radius;
  background-color: $background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .x-icon {
    color: $stroke-color;
  }

  &:hover {
    cursor: pointer;
    background-color: $hover-background-color;
  }
}
