$red: #FF4E4E;
$green: #58B238;
$blue: #4E55FF;
$yellow: #DBC500;
$violet: #CB3CCE;
$orange: #CC893A;
$black: black;
$grey: #8F8F8F;
$light-blue: #45A8E0;

$modal-color: rgb(222, 225, 229);

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.violet {
  color: $violet;
}

.orange {
  color: $orange;
}

.black {
  color: $black;
}

.grey {
  color: $grey;
}

.light-blue {
  color: $light-blue;
}
