@import './mixins/misc';
@import './animations';

.copied-toast-layer {
  @include layer;

  .copied-toast {
    width: 80px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;

    border-radius: 4px;
    font-family: Arial;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    &.animating {
      -webkit-animation: fade-in-out 1.0s;
              animation: fade-in-out 1.0s;
    }

    opacity: 0;
  }
}
