@import './globals';
@import './mixins/misc';
@import './animations';

.copied-toast-layer {
  @include layer;

  .copied-toast {
    @include rect-border;
    @include rect-border-radius;

    width: 80px;
    height: 24px;
    background-color: white;
    color: black;
    font-family: $font-family;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    &.animating {
      -webkit-animation: fade-in-out 1.0s;
              animation: fade-in-out 1.0s;
    }

    opacity: 0;
  }
}
