@import './globals';
@import './mixins/misc';

.date {
  position: absolute;
  bottom: 0;
  right: 0;

  .date-text {
    @include unselectable;

    margin-right: 10px;
    margin-bottom: 10px;

    color: white;
    font-family: $font-family;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2),
                 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

// Small screens
@media (max-width: $small-screen-max-width) {
  .date {
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;

    .date-text {
      margin-right: 0;
    }
  }
}
