@import './mixins/misc';
@import './animations';
@import './mixins/list';
@import './colors';

.modal-backdrop {
  .confirm-delete-folder-modal {
    @include rect-border-radius;
    @include rect-box-shadow;

    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .confirm-delete-title {
      font-family: Arial;
      font-size: 14px;
      text-align: center;
    }

    .delete-modal-buttons {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .confirm-delete-button {
        @include list-button;
        width: 84px;
      }

      .cancel-delete-button {
        @include list-button;
        width: 84px;
      }
    }
  }
}
