@import './mixins/list';

.folder {
  @include list-item;

  .folder-icon {
    @include list-item-image;
  }

  .folder-name {
    @include list-item-text;
  }

  .edit-text-field {
    @include list-item-text-edit;
    margin-right: 0px;
  }

  .folder-palette-icon-container {
    @include list-item-image;
    margin-left: 8px;
    margin-right: 8px;

    .folder-palette-icon {
      width: 100%;
      height: 100%;
    }
  }

  .folder-buttons {
    @include list-item-buttons-container;

    .folder-button {
      @include list-item-button;
    }
  }
}

.drag-layer-item {
  .folder {
    width: calc(440px - 32px);
  }
}
