@import './mixins/list';

.folder-list {
  @include list;

  width: 440px;

  .folder-list-title-container {
    @include list-title-container;
    justify-content: space-between;

    .folder-list-title {
      @include list-title;
    }

    .pin-icon {
      height: 22px;
      width: 30px;
      padding-top: 2px;
      padding-bottom: 2px;
      color: rgb(128, 128, 128);

      &:hover {
        cursor: pointer;
        padding-top: 4px;
        padding-bottom: 0;
      }

      &.pinned {
        color: black;
      }
    }
  }

  .folder-list-scrollable-area {
    @include list-scrollable-area;

    .list-item-container {
      @include list-item-container;
    }

    .add-folder-button {
      @include list-button;
    }
  }
}
