@import './mixins/misc';
@import './animations';

.modal-backdrop {
  .folder-color-picker-modal {
    @include rect-border-radius;
    @include rect-box-shadow;

    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 4px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    .color-option-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .color-option {
      width: 20px;
      height: 20px;

      transition: all 0.12s;

      &:hover {
        width: 26px;
        height: 26px;
      }
    }
  }
}
