.greeting {
  width: 100%;
  height: 100%;

  color: white;
  font-family: arial;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.time-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .name-text {
    margin-bottom: 0;
  }

  .time-text {
    font-size: 24px;
    margin-bottom: 0;
  }
}
