@import './bookmark';
@import './add-bookmarks';

body {
  background-image: url('./blue_stars.jpg');
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  padding: 40px;
  padding-left: 80px;
}

.bookmark-list {
  box-sizing: border-box;
  border-radius: 4px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .bookmark-container {
    background-color: rgb(80, 80, 80);
    margin-top: 20px;
    border-radius: 4px;
  }
}


.edit-bookmark {
  @extend .bookmark;

  // copied from .bookmark-favicon
  .bookmark-favicon {
    margin-left: 10px;
    width: 16px;
    height: 16px;
  }

  // copied from .bookmark-icon
  .phantom-icon {
    width: 12px;
    margin-right: 6px;
    &:hover {
      color: rgb(100, 100, 250);
    }
  }

  .edit-bookmark-input {
    flex: 1;

    box-sizing: border-box;

    height: 24px;
    margin-left: 4px;
    margin-right: 6px;

    border: none;
    padding: 4px;

    &:focus {
      outline-width: 0;
    }
  }
}


.add-bookmarks-button {
  @extend .bookmark;

  margin-top: 20px;
  justify-content: center;

  &:hover {
    background-color: rgb(200, 200, 200);
    cursor: default;
  }
  &:active {
    background-color: rgb(180, 180, 180);
  }
}

.greeting {
  flex: 1;
  min-width: 420px;

  display: flex;
  flex-direction: column;

  .greeting-top {
    flex: 3;

    color: white;
    font-family: arial;
    font-size: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greeting-bottom {
    flex: 1;

    color: white;
    font-family: arial;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.copied-toast {
  width: 80px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;

  box-sizing: border-box;
  border-radius: 4px;
  font-family: Arial;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.animating {
    -webkit-animation: fade-in-out 1.0s;
            animation: fade-in-out 1.0s;
  }

  opacity: 0;
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
