$bookmark-color: rgb(222,225,229);

body {
  background-image: url('./blue_stars.jpg');
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  padding: 40px;
  padding-left: 80px;
}

.bookmark-list {
  box-sizing: border-box;
  border-radius: 4px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark-container {
  background-color: rgb(80, 80, 80);
  margin-top: 20px;
  border-radius: 4px;
}

.edit-bookmark {
  box-sizing: border-box;
  height: 150px;
  width: 460px;
  background-color: #AEE2FF;
  border-radius: 4px;
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 8px;

  display: flex;
  flex-direction: column;

  .edit-bookmark-label {
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .edit-bookmark-input {
    border: none;
    padding: 4px;
    margin-bottom: 10px;
    &:focus {
      outline-width: 0;
    }
  }

  .edit-bookmark-buttons {
    flex: 1;

    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: flex-end;

    .left-buttons {
      flex: 1;
    }

    .right-buttons {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .edit-bookmark-button {
      width: 60px;
      height: 22px;

      border: none;
      &:focus {
        outline-width: 0;
      }

      &.save {
        margin-left: 10px;

        background-color: rgb(0, 160, 0);
        &:hover {
          background-color: rgb(0, 140, 0);
        }
        &:active {
          background-color: rgb(0, 100, 0);
        }
      }

      &.cancel {
        background-color: rgb(160, 160, 160);
        &:hover {
          background-color: rgb(140, 140, 140);
        }
        &:active {
          background-color: rgb(100, 100, 100);
        }
      }

      &.delete {
        background-color: rgb(240, 0, 0);
        &:hover {
          background-color: rgb(200, 0, 0);
        }
        &:active {
          background-color: rgb(140, 0, 0);
        }
      }
    }
  }
}

.bookmark {
  box-sizing: border-box;
  height: 40px;
  width: 460px;
  background-color: $bookmark-color;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &.dragging {
    opacity: 0;
  }
}

.add-bookmark {
  @extend .bookmark;

  margin-top: 20px;
  justify-content: center;

  &:hover {
    background-color: rgb(100, 180, 250);
    cursor: default;
  }
  &:active {
    background-color: rgb(80, 160, 230);
  }
}

.bookmark-text {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  width: 480px;
  border: none;
  padding: 4px;
  margin-left: 4px;
  margin-right: 6px;

  overflow: hidden;
  font-family: Arial;
  font-size: 12px;
  white-space: pre;
  text-decoration: none;
  color: black;

  background-color: rgba(0, 0, 0, 0);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    outline-width: 0;
  }
}

.bookmark-drag-handle {
  width: 10px;
  height: 24px;
  background-color: white;
  border: none;

  &:focus {
    outline-width: 0;
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    background-color: lightblue;
    cursor: grabbing;
  }
}

.bookmark-icon {
  margin-right: 6px;
  &:hover {
    color: rgb(100, 100, 250);
  }
}

.bookmark-favicon {
  margin-left: 10px;
}

.greeting {
  flex: 1;

  display: flex;
  flex-direction: column;

  .greeting-top {
    flex: 3;

    color: white;
    font-family: arial;
    font-size: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greeting-bottom {
    flex: 1;

    color: white;
    font-family: arial;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

}

.copied-modal {
  width: 80px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;

  box-sizing: border-box;
  border-radius: 4px;
  font-family: Arial;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.animating {
    -webkit-animation: fade-in-out 1.0s;
            animation: fade-in-out 1.0s;
  }

  opacity: 0;
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
