@import './animations';
@import './colors';
@import './modal-backdrop';

@import './add-bookmarks-modal';
@import './delete-folder-modal';
@import './folder-color-picker-modal';
@import './copied-toast';

@import './greeting';
@import './date';
@import './drag-layer';

@import './bookmark-list';
@import './folder-list';
@import './bookmark';
@import './folder';

@import './app-layout';

$fade-in-time: 0.3s;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;

  &.loaded {
    -webkit-animation: fade-in $fade-in-time;
            animation: fade-in $fade-in-time;

    opacity: 1;
  }
}

@media (max-width: 800px) {
  .app {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.app-list-container {
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .app-list-container {
    margin: 0;
  }
}

.app-background {
  background: url('../../sandbox/wallpapers/moon.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-animation: fade-in $fade-in-time;
          animation: fade-in $fade-in-time;
}

// This prevents the background from fading in until it's fully loaded.
.assets-loading {
  .app-background {
    animation-play-state: paused !important;
  }
}
