@import './mixins/misc';

.modal-backdrop {
  @include layer;
  pointer-events: auto;

  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: darken-backdrop 0.3s;
          animation: darken-backdrop 0.3s;
}
