@import './mixins/misc';
@import './mixins/list';

$row-height: 84px;
$row-padding: 4px;

.notes-list {
  @include rect-border-radius;

  min-height: calc(100% - 6px);
  margin-top: 3px;
  margin-bottom: 3px;

  margin-left: 8px;
  margin-right: 8px;

  background-color: rgba(255, 255, 255, 0.65);

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.19), 0 0 2px rgba(0, 0, 0, 0.23);

  padding: 4px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: $row-height;

  .note-container {
    padding: $row-padding;

    .note-drop-container {
      @include rect-border-radius;
      background-color: rgba(0, 0, 0, 0.5);

      width: 100%;
      height: 100%;
    }

    .add-note-button {
      @include rect-border;
      @include rect-border-radius;

      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      .add-note-icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.note {
  @include list-item;
  @include unselectable;

  padding: 6px;
  width: 100%;
  height: calc(#{$row-height} - 2 * #{$row-padding}); // Not sure why height: 100% doesn't work here.

  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  .note-name-and-buttons-container {
    width: 100%;
    height: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .note-name {
      @include list-title;
      font-size: 16px;
    }

    .note-buttons-container {
      @include list-item-buttons-container;
      cursor: default;

      .note-button {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }

  .note-preview-text {
    flex: 1;
    width: 100%;

    color: rgb(150, 150, 150);

    overflow: hidden;
  }
}

.drag-layer-item {
  .note {
    width: calc((440px - 16px - 8px - 4 * #{$row-padding}) / 2);
  }
}
