@import './mixins/misc';
@import './mixins/list';

.note-editor {
  @include rect-border-radius;
  @include rect-subtle-box-shadow;

  position: relative;
  background-color: rgba(255, 255, 255, 0.825); // 1 - (1 - 0.65) * (1 - 0.5)

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;

  .note-name {
    @include list-title;
    position: relative;
    font-size: 20px;
    margin-bottom: 4px;

    height: 24px;
    min-height: 24px;

    &:focus {
      outline: 0;
      background-color: white;
      border-style: solid;
      border-width: 1px;
      border-color: grey;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .note-editable-text {
    @include rect-border;
    @include rect-border-radius;

    flex: 1;

    position: relative;
    background-color: white;
    padding: 4px;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    ol, ul {
      margin: 0;
    }

    .DraftEditor-root {
      height: 100%;
    }

    .editor-buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 20px;
      min-height: 20px;

      &.hidden {
        display: none;
      }

      .editor-button {
        margin-left: 4px;
        margin-right: 4px;
        color: rgb(200, 200, 200);
        font-size: 1.2em;

        &.active {
          color: rgb(100, 100, 100);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .editor-buttons-divider {
        background-color: rgb(200, 200, 200);
        margin-left: 8px;
        margin-right: 8px;
        width: 1px;
        height: calc(100% - 2px);
      }
    }
  }

  .close-button {
    position: absolute;
    $radius: 24px;
    border-radius: calc(#{$radius} / 2);
    width: $radius;
    height: $radius;
    top: calc(-#{$radius} / 2);
    right: calc(-#{$radius} / 2);

    -webkit-animation: fade-in 0.3s;
            animation: fade-in 0.3s;
  }
}
