@import './mixins/misc';
@import './mixins/list';

.notes-list {
  @include rect-border-radius;

  min-height: calc(100% - 6px);
  margin-top: 3px;
  margin-bottom: 3px;

  margin-left: 8px;
  margin-right: 8px;

  background-color: rgba(255, 255, 255, 0.65);

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.19), 0 0 2px rgba(0, 0, 0, 0.23);

  padding: 4px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 84px;

  .note-container {
    padding: 4px;

    .note {
      @include list-item;
      @include unselectable;

      padding: 6px;
      width: 100%;
      height: 100%;

      flex-direction: column;

      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.19), 0 4px 6px rgba(0, 0, 0, 0.23);
        transition: box-shadow 0.2s ease-in-out;
        cursor: pointer;
      }

      .note-name-and-buttons-container {
        width: 100%;
        height: 18px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .note-name {
          @include list-title;
          font-size: 16px;
        }

        .note-buttons-container {
          @include list-item-buttons-container;
          cursor: default;

          .note-button {
            margin-left: 4px;
          }
        }
      }

      .note-preview-text {
        flex: 1;
        width: 100%;

        color: rgb(150, 150, 150);

        overflow: hidden;
      }
    }

    .add-note-button {
      @include rect-border;
      @include rect-border-radius;

      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      .add-note-icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}
