@import './animations';
@import './globals';
@import './mixins/misc';

.modal-backdrop.settings-layer {
  display: flex;
  justify-content: center;
  align-items: center;

  .settings-modal {
    @include rect-box-shadow;
    @include rect-border-radius;

    background-color: rgb(230, 230, 230);

    width: 500px;
    min-width: 500px;

    height: calc(100% - 250px);
    min-height: 300px;

    padding: 30px;

    display: flex;
    flex-direction: column;

    .horizontal-bar {
      height: 2px;
      background-color: rgb(200, 200, 200);
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .titles-container {
      display: flex;
      flex-direction: row;

      .title {
        font-family: $font-family;
        font-size: 28px;
        font-weight: bold;
        color: rgb(160, 160, 160);
        user-select: none;

        &:hover {
          cursor: pointer;
        }

        &.active {
          color: black;
          pointer-events: none;
        }
      }

      .settings-title {
      }

      .about-title {
        margin-left: 20px;
      }
    }

    .settings-section {
      overflow-y: scroll;

      .set-background-image-container {
        display: flex;
        flex-direction: column;

        .set-background-image-upper-container {
          display: flex;
          flex-direction: row;

          .set-background-image-left-container {
            flex: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .set-background-image-label {
              font-family: $font-family;
              font-size: 20px;
            }

            .button-text {
              font-family: $font-family;
              font-size: 14px;
              font-weight: bold;
              color: rgb(100, 100, 255);

              &:hover {
                cursor: pointer;
                color: rgb(0, 0, 200);
              }
            }
          }

          .set-background-image-right-container {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            .set-background-image-preview-container {
              position: relative;

              width: 160px;
              height: 90px;

              input.set-background-image-input {
                position: absolute;
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                z-index: -1;
              }

              img {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 2px;
              }

              label.set-background-image-preview {
                position: relative;
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                .background-image-loading-icon {
                  position: absolute;
                  width: 24px;
                  height: 24px;
                  color: white;
                  animation: spinner 1s linear infinite;
                }

                .background-image-upload-icon {
                  position: absolute;
                  width: 24px;
                  height: 24px;
                  color: white;
                  opacity: 0;
                }

                &:hover {
                  background-color: rgba(0, 0, 0, 0.5);
                  cursor: pointer;

                  .background-image-upload-icon {
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }

        .set-background-image-lower-container {
          margin-top: 10px;
          height: 0;

          &.show {
            height: 280px;
            transition: height 0.3s ease-in-out;
          }

          .background-image-defaults {
            height: 280px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;

            .default-image-container {
              position: relative;
              width: calc(160px * 0.8);
              height: calc(90px * 0.8);

              .image-overlay {
                position: absolute;
                width: 100%;
                height: 100%;

                &:hover {
                  cursor: pointer;
                  background-color: rgba(0, 0, 0, 0.3);
                }
              }

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .about-section {
      display: flex;
      flex-direction: column;
      height: 100%;

      .about-text-container {
        font-size: 16px;
        line-height: 150%;

        overflow-y: scroll;

        p {
          margin-top: 0;
          margin-bottom: 0;
        }

        ul {
          margin-top: 8px;
        }
      }

      .shareable-link-container {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .shareable-link-label {
          margin-top: 20px;
          font-size: 16px;
        }

        .shareable-link {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-top: 6px;
          background-color: rgb(200, 200, 200);
          border-radius: 2px;
          padding: 8px;

          .shareable-link-url {
            flex: 1;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            font-size: 14px;
          }

          .shareable-link-icon {
            margin-left: 10px;
            margin-right: 4px;
            width: 16px;
            height: 16px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
