body {
  background-image: url('./blue_stars.jpg');
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  padding: 40px;
}

.links-pane {
  box-sizing: border-box;
  border-radius: 4px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container {
  background-color: rgb(80, 80, 80);
  margin-top: 20px;
  border-radius: 4px;
}

.edit-link {
  box-sizing: border-box;
  height: 140px;
  width: 460px;
  background-color: #AEE2FF;
  border-radius: 4px;
  padding: 6px;

  display: flex;
  flex-direction: column;

  .edit-link-label {
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .edit-link-input {
    border: none;
    padding: 4px;
    margin-bottom: 10px;
    &:focus {
      outline-width: 0;
    }
  }

  .edit-link-buttons {
    flex: 1;

    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: flex-end;

    .left-buttons {
      flex: 1;
    }

    .right-buttons {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .edit-link-button {
      width: 60px;
      height: 22px;

      border: none;
      &:focus {
        outline-width: 0;
      }

      &.save {
        margin-left: 10px;

        background-color: rgb(0, 160, 0);
        &:hover {
          background-color: rgb(0, 140, 0);
        }
        &:active {
          background-color: rgb(0, 100, 0);
        }
      }

      &.cancel {
        background-color: rgb(160, 160, 160);
        &:hover {
          background-color: rgb(140, 140, 140);
        }
        &:active {
          background-color: rgb(100, 100, 100);
        }
      }

      &.delete {
        background-color: rgb(240, 0, 0);
        &:hover {
          background-color: rgb(200, 0, 0);
        }
        &:active {
          background-color: rgb(140, 0, 0);
        }
      }
    }
  }
}

.link {
  box-sizing: border-box;
  height: 40px;
  width: 460px;
  background-color: #AEE2FF;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &.dragging {
    opacity: 0;
  }
}

.add-link {
  @extend .link;

  margin-top: 20px;
  justify-content: center;

  &:hover {
    background-color: lightblue;
    cursor: default;
  }
}

.link-text {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  width: 480px;
  border: none;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(0, 0, 0, 0);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: white;
    outline-width: 0;
    cursor: auto;
  }
}

.link-drag-handle {
  width: 10px;
  height: 24px;
  background-color: white;
  border: none;

  &:focus {
    outline-width: 0;
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    background-color: lightblue;
    cursor: grabbing;
  }
}

.link-icon {
  margin-right: 6px;
  &:hover {
    color: rgb(100, 100, 250);
  }
}

.link-icon-grip {
  margin-left: 6px;
}

.greeting {
  flex: 1;

  display: flex;
  flex-direction: column;

  .greeting-top {
    flex: 3;

    color: white;
    font-family: arial;
    font-size: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greeting-bottom {
    flex: 1;

    color: white;
    font-family: arial;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

}
