body {
  background-image: url('./blue_stars.jpg');
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.links-pane {
  flex: 1;

  box-sizing: border-box;
  border-radius: 4px;
  margin: 40px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  box-sizing: border-box;
  height: 40px;
  width: 460px;
  background-color: #AEE2FF;
  margin-top: 20px;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-link {
  @extend .link;

  margin-bottom: 20px;
  justify-content: center;

  &:hover {
    background-color: lightblue;
    cursor: default;
  }
}

.link-text {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  width: 480px;
  border: none;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(0, 0, 0, 0);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: white;
    outline-width: 0;
    cursor: auto;
  }
}

.link-drag-handle {
  width: 10px;
  height: 24px;
  background-color: white;
  border: none;

  &:focus {
    outline-width: 0;
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    background-color: lightblue;
    cursor: grabbing;
  }
}

.link-button {
  width: 30px;
  height: 24px;
  margin-right: 6px;
  background-color: white;
  border: none;

  &:focus {
    outline-width: 0;
  }
  &:active {
    background-color: lightblue;
  }
}
