@mixin unselectable {
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
}

@mixin layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}

@mixin rect-border {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
}

@mixin rect-box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 0 10px rgba(0, 0, 0, 0.23);
}

@mixin rect-subtle-box-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.19), 0 0 3px rgba(0, 0, 0, 0.23);
}

@mixin rect-border-radius {
  border-radius: 4px;
}

@mixin modal-background {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;

  &::before {
    background: url('../../sandbox/wallpapers/spiderman3.jpg') no-repeat center center fixed;

    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;

    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);

    filter: blur(10px);

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}
